<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<style>

</style>

<body>

<!--<script>-->
    <!--$(function(){-->
        <!--alert("sdas");-->
        <!--function search() {-->
            <!--var word=$("#word").val();-->
            <!--var content="";-->

            <!--$.post(-->
                <!--"${PageContext.request.ContextPath}/ajaxfind",-->
                <!--{"word":word},-->
                <!--function (data) {-->
                    <!--for(var i=0;i<data.length;i++){-->
                        <!--content="<div>data[i].name</div>"-->
                    <!--}-->
                    <!--$("#content").html(content);-->
                <!--},-->
                <!--"json"-->
            <!--);-->
        <!--};-->

    <!--});-->
<!--</script>-->


<div class="container">

        <!--<button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>-->
       <!--<input type="text" id="word" name="word" onkeyup="search()"> <input type="button" value="搜索">-->


    <form class="form-signin" action="@{/update}+${user.id}" method="post">
        <div class="input-group">
            <span class="input-group-addon" >用户：</span>
            <input type="text" class="form-control" name="username" placeholder="username">
            <input type="hidden"class="form-control"  name="id">
        </div>
        <div class="input-group">
            <span class="input-group-addon" >密码：</span>
            <input type="text" class="form-control" name="password" placeholder="password">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">修改</button>

    </form>

</div> <!-- /container -->

<!--文件引用-->
<script  th:href="@{/js/jquery-1.11.3.min.js}"></script>
<!-- 包括所有已编译的插件 -->
<script  th:href="@{/js/bootstrap.min.js}"></script>
<!--文件引用-->

</body>
</html>